In [1]:
SELECT DB_NAME()

(No column name)
IQSchools